* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
  height: 3vh;
}

.pagemenu a,
.links a {
  color: white;
  text-decoration: none;
  margin: 6px;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  padding: 20px;
}

.pagename {
  color: cornflowerblue;
}

search input {
  width: 80vh;
  height: 3vh;
  border-color: cornflowerblue;
}

search button {
  width: 3vh;
  height: 3vh;
  background-color: cornflowerblue;
  border: none;
  color: white;
}

.financing {
  background-color: rgb(178, 2, 2);
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

@media (width < 768px) {
  .topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
