* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
  max-height: auto;
}

.pagemenu,
.links {
  display: flex;
  flex-direction: column;
}

.pagemenu a,
.links a {
  color: white;
  text-decoration: none;
  margin: 6px;
}

search {
  display: flex;
}

.topbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.pagename {
  color: cornflowerblue;
}

search input {
  width: 40vh;
  height: 5vh;
  border-color: cornflowerblue;
}

search button {
  width: 5vh;
  height: 5vh;
  margin-left: 5px;
  background-color: cornflowerblue;
  border: none;
  color: white;
}

.financing {
  background-color: rgb(178, 2, 2);
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

@media (min-width: 768px) {
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  search input {
    width: 80vh;
  }

  .pagemenu,
  .links {
    flex-direction: row;
  }
}
